@import url('./root.scss');

html {
    width: 100%;
    height: 100%;
    body {
      margin: 0;
      width: 100%;
      height: 100%;
      overflow-y: hidden;
      letter-spacing: 1px;
      #root {
        width: 100%;
        height: 100%;
      }
      iframe {
        border: none
      }
    }
}


