.fab {
  position: absolute !important;
  bottom: 24px;
  right: 24px
}

.container {
  .header {
    display: flex;
    justify-content: space-between;
  }
  .steps_container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 70%;
    margin: 3rem auto;

    .form {
      min-width: 250px;
      width: 50%;
      margin: auto;
      display: flex;
      flex-direction: column;
      gap: 3rem
    }
  }
}


