.fab {
  position: absolute !important;
  bottom: 24px;
  right: 24px
}

.main_container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  .main_container_inner {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    gap: 1rem;

    @media (max-width: 992px) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: 480px) {
        grid-template-columns: repeat(2, 1fr);
    }
    .card {
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
      }

      .card_header {
        overflow: hidden;
        :global(.MuiCardHeader-content) {
          overflow: hidden;
          :global(.MuiCardHeader-title) {
            font-size: 1rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          :global(.MuiCardHeader-subheader) {
            font-size: 0.875rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

      }
      .card_actions {
        justify-content: center;
        padding: 0 8px 8px 8px;

        .on {
          background: #2196F3;
        }
      }
      :global(.MuiCardMedia-img) {
        max-height: 120px;
      }
      &.disable {
        background-color: #c8c8c8;

        .img {
          filter: grayscale(100%)
        }

        .card_actions {
          pointer-events: none;
        }
      }
    }
  }
}
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    .header {
      display: flex;
      justify-content: space-between;
    }
    .steps_container {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      width: 70%;
      margin: 3rem auto;
      flex: 1;

      .form {
        min-width: 250px;
        height: 100%;
        width: 50%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3rem
      }

      .step2 {
        min-width: 250px;
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        gap: 5rem;
        ol {
          letter-spacing: 1px;
          font-size: 16px;
          display: flex;
          flex-direction: column;
          gap: 15px;
          padding-inline-start: 0;
          text-align: center;
          list-style-position: inside;

          li {
            text-align: left;
          }
        }
      }
      .step3 {
        height: 100%;
        min-width: 250px;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        :global(.MuiSkeleton-wave) {
          flex: 1;
        }
      }
    }
  }

  .actions_container {
    display: flex;
    gap: 1rem;
  }
  .add_btn {
    margin-bottom: 1rem !important;
  }
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 70%;
  align-items: center;
  margin: auto;
  padding: 0 0 1rem 0;
}

