.fab {
  position: absolute !important;
  bottom: 24px;
  right: 24px
}

.main_container {
  width: 100%;
  height: 100%;
  position: relative;

  .inner_container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem;

    @media (max-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 480px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.add_member_modal {
  display: flex;
  flex-direction: column;
  height: 100%;
  .header {
    display: flex;
    justify-content: space-between;
  }
}
